@font-face {
    font-family: 'YoungSerif';
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

:root {
    --ff-primary: 'Outfit';
    --ff-secondary: 'YoungSerif';
    --fw-bold: 700;
    --fw-regular: 400;
    --fw-semi: 600;
    --fs-default: 1rem;
}