@import url("../../../common/reset.css");
@import url("font.css");

* {
    padding: 0;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);
    --color-brown-800: hsl(14, 45%, 36%);
    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%);
}

body {
    font-family: var(--ff-primary), sans-serif;
    font-size: var(--fs-default);
    color: var(--color-stone-600);
    background-color: var(--color-stone-100);
}

h1, h2 {
    font-family: var(--ff-secondary), serif;
    font-weight: var(--fw-regular);
}

ul {
    padding-inline-start: .75rem;
    margin-inline-start: .5rem;
}

ul li {
    padding-block: .25rem;
    padding-inline-start: 1rem;
}

.card {
    background-color: var(--color-white);
}

.item-title {
    font-weight: var(--fw-bold);
}

.heading {
    color: var(--color-brown-800);
    padding-block: .5rem;
}

.recipe {
    padding: 1.5rem;
}

.recipe h1 {
    line-height: 1.1;
    padding-block: .925rem;
}

.recipe p {
    font-size: 1.255rem;
}

.preparation-time {
    background-color: var(--color-rose-50);
    margin-block: 1.5rem;
    padding: .5rem;
}

.preparation-time__title {
    color: var(--color-rose-800);
    font-weight: var(--fw-semi);
    font-size: 1.25rem;
    padding: .5rem;
}

.preparation-time ul {
    position: relative;
    left: .5rem;
}

.preparation-time li::marker {
    color: var(--color-rose-800);
    font-weight: var(--fw-bold);
}

.ingredients {
    border-bottom: 1px solid var(--color-stone-150);
}

.ingredients ul  {
    padding-block-end: 1.5rem;
}

.instructions {
    border-bottom: 1px solid var(--color-stone-150);
    padding-block-start: 1rem;
}

.instructions ul {
    list-style-type: decimal;
    padding-block-end: 1.5rem;
}

.instructions li::marker {
    color: var(--color-rose-800);
    font-weight: var(--fw-bold);
}

.nutrition h2 {
    padding-block: 1.5rem;
}

.nutrition p {
    padding-block-end: 1rem;
}

.nutrition table {
    display: inline-table;
    width: 100%;
    border-collapse: collapse;
}

.nutrition table tr:is(:not(:last-child)) {
    border-bottom: 1px solid var(--color-stone-150);
}

.nutrition .nutrition__item-text {
    padding-inline-start: 1.75rem;
    padding-block: .75rem;
}

.nutrition td span {
    font-weight: var(--fw-semi);
    color: var(--color-rose-800);
}

@media (min-width: 37rem) {
    .card {
        max-width: 39.5rem;
        margin-inline: auto;
        margin-block: 3rem;
        border-radius: 1.5rem;
    }

    .content {
        padding: 2rem;
    }

    .recipe {
        padding: 0;
    }

    .recipe p {
        font-size: .925rem;
    }

    .content header {
        margin-block: 0.75rem;
    }

    .content img {
        border-radius: .75rem;
    }
}