@media screen and (min-width: 38rem) {

    .content {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        border-radius: var(--border-radius);
        box-shadow: 0 0.75rem 2rem hsla(var(--light-royal-blue), 0.2);
        width: min(100vw, 40rem);
    }

    .result {
        border-radius: var(--border-radius);
    }

    .summary {
        padding: calc(var(--padding) * 1.5);
    }
}