@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
}

:root {
    --ff: 'Outfit', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}