@import url("../../common/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /*Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)*/
    /*Very light gray (background, headings, buttons): hsl(0, 0%, 95%)*/
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);

    --ff-primary: 'Lexend Deca';
    --ff-secondary: 'Big Shoulders Display';

    --fs: 0.938rem;
    --fw-regular: 400;
    --fw-bold: 600;
}

.container {
    display: grid;
    /*padding-inline: 0.25rem;*/
    width: min(100vw, 23rem);
    background-color: var(--transparent-white);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.card {

    --br: 0.5rem;
    --padding-inline: 3rem;

    --_bg-color: var(--card-bg-color, '#fff');
    --_cta-color: var(--cta-color, '#000');
    --_br-nw: var(--br-north-west, 0);
    --_br-ne: var(--br-north-east, 0);
    --_br-sw: var(--br-south-west, 0);
    --_br-se: var(--br-south-east, 0);
    --_padding-inline: var(--padding-inline, 1rem);

    display: grid;
    gap: 1.5rem;
    font-family: var(--ff-primary), sans-serif;
    padding: 3rem var(--_padding-inline);
    background-color: var(--_bg-color);
    color: var(--light-gray);
    border-radius: var(--_br-nw) var(--_br-ne) var(--_br-sw) var(--_br-se);
}

.cta {
    width: 50%;
    background-color: var(--light-gray);
    color: var(--_cta-color);
    padding: 0.75rem;
    border-radius: 1.75rem;
    text-align: center;
    text-decoration: none;
    font-size: var(--fs);
    text-transform: capitalize;
}

.cta:hover {
    border: 2px solid var(--light-gray);
    background-color: transparent;
    color: var(--light-gray);
}

.card .category {
    text-transform: uppercase;
    font-family: var(--ff-secondary), sans-serif;
    font-weight: var(--fw-bold);
}

.card p {
    color: var(--light-gray);
    font-size: var(--fs);
}

.sedans {
    --card-bg-color: var(--bright-orange);
    --cta-color: var(--bright-orange);
    --br-north-west: var(--br);
    --br-north-east: var(--br);
}

.suv {
    --card-bg-color: var(--dark-cyan);
    --cta-color: var(--dark-cyan);
}

.luxury {
    --card-bg-color: var(--very-dark-cyan);
    --cta-color: var(--very-dark-cyan);
    --br-south-west: var(--br);
    --br-south-east: var(--br);
}

@media (min-width: 50rem) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        width: min(90vw, 50rem);
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .card {
        --padding-inline: 1.75rem;
    }

    .cta {
        width: 60%;
    }

    .sedans {
        --br-north-east: 0;
        --br-south-east: var(--br);
    }

    .luxury {
        --br-north-east: var(--br);
        --br-south-east: 0;
    }
}