@import url('../../common/reset.css');
@import url('font.css');

:root {
    --fs-default: 1.125rem;
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-dark-blue: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);
}

body {
    font-family: var(--ff);
    background-color: var(--main-bg);
}

.card {
    display: grid;
    gap: 1rem;
    width: 19rem;
    background-color: var(--card-bg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .625rem;
    color: var(--soft-blue);
    padding: 1.5rem;
    
}

.card p {
    font-weight: var(--fw-regular);
    font-size: var(--fs-default);
}

.card img {
    border-radius: 0.625rem;
}

.description {
    display: grid;
    gap: 0.75rem;
    border-bottom: 1px solid var(--line-dark-blue);
}

.description h1 {
    color: var(--clr-white);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-default);
}

.description p {
    font-weight: var(--fw-light);
}

.eth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: .10rem;
    padding-block-end: 0.75rem;
}

.eth span {
    position: relative;
}

.eth .eth__value {
    color: var(--cyan);
}

.eth .eth__value::before {
    content: url('../images/icon-ethereum.svg');
    padding-inline-end: .5rem;
    position: relative;
    top: .15rem;
}

.eth .eth__time::before {
    content: url('../images/icon-clock.svg');
    padding-inline-end: .5rem;
    position: relative;
    top: .15rem;
}

.author {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.author span {
    color: var(--clr-white);
}

.author img {
    width: 30px;
    border: 2px solid var(--clr-white);
    border-radius: 50%;
}