@import "../common/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --grayish-blue: hsl(212, 23%, 69%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);

    --fs: 0.813rem;
    --ff: 'Manrope';
    --fw-medium: 500;
    --fw-bold: 700;
}

body {
    background-color: var(--desaturated-dark-blue);
}

.container {
    display: grid;
    font-family: var(--ff), sans-serif;
    font-weight: var(--fw-medium);
    width: min(90vw, 23rem);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 5px black;
    background-color: var(--white);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.share-btn {
    background-color: var(--light-grayish-blue);
    padding: 0.625rem;
    border-radius: 50%;
}

.drawer img {
    object-fit: cover;
    object-position: 0 -50%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.content {
    display: grid;
    gap: 1rem;
    padding: 2rem 2rem 1.5rem 2rem;
}

.content .title {
    color: var(--very-dark-grayish-blue);
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
}

.content .description {
    color: var(--desaturated-dark-blue);
}

.author-container {
    display: none;
}

.author-container svg {
    fill: #6E8098;
}

.article__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__meta svg {
    fill: #6E8098;
}

.article__share {
    background-color: rgba(0, 0, 0, 0.82);
    height: 50px;
}

.publication .share-btn:hover  {
    background-color: red;
}

.author__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 2rem 2rem 2rem;*/
}

.author {
    display: flex;
    gap: 1rem;
    letter-spacing: 0.5px;
}

.author img {
    width: 50px;
    border-radius: 100%;
}

.author__name {
    font-weight: var(--fw-bold);
    color: var(--very-dark-grayish-blue);
}

.author__publication-date {
    color: var(--grayish-blue);
    font-size: var(--fs);
}

.article__share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--very-dark-grayish-blue);
    padding: 2.125rem;
}

.article__share .socials {
    display: flex;
    gap: 1.1rem;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0.5rem;
}

.article__share .article__share-text {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--grayish-blue);
}

.article__share .share-btn {
    background-color: var(--desaturated-dark-blue);
}

.article__share.show {
    animation: 0.05s ease-out reverse slideRight;
}

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}

@keyframes slideRight {
    from { transform: translateX(1%) }
    to { transform: translateX(0) }
}

@media (min-width: 62.5rem) {
    .container {
        grid-template-columns: 40% auto;
        gap: 1.5rem;
        width: 57.5rem;
    }

    .drawer img {
        height: 100%;
    }

    .content {
        padding: 2.5rem;
    }

    .content .title {
        font-size: 1.75rem;
    }

    .article__share {
        display: block;
        position: absolute;
        right: -5%;
        bottom: 30%;
        z-index: 2;
        transition: opacity 1s;
        border-radius: 0.25rem;
        padding: 0.75rem 1.125rem;
    }

    .article__share::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: 10px;
        border-style: solid;
        border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
    }

    .article__share .share-btn {
        display: none;
    }

    .article__meta .share-btn:hover {
        background-color: var(--desaturated-dark-blue);
    }

    .article__meta .share-btn:hover svg {
        fill: var(--white);
    }

}





